[;; JSON sucks because it does not allow comments. YAML may do. EDN is best.
 {:url {:path   "/solr/admin/collections"}
  :query-params {"action" "CREATE"
                 "name" "sample-1"
                   "numShards" "1"
                   "replicationFactor" "3"
                   ;; :shards
                   ;; :router.name "xyz"
                   ;; :nrtReplicas
                   ;; :tlogReplicas
                   ;; :pullReplicas
                   ;; :maxShardsPerNode 1
                   ;; :createNodeSet
                   ;; :createNodeSet.shuffle
                   ;; "collection.configName" "sample_techproducts"
                   ;; :router.field
                   ;; :perReplicaState
                   ;; :property.name=value
                   ;; :autoAddReplicas false
                   ;; :async
                   ;; :rule
                   ;; :snitch
                   ;; :policy
                   ;; :waitForFinalState
                   ;; :withCollection
                 }}
 ]