/target
/classes
/checkouts
*.jar
*.class
/.calva/output-window/
/.cpcache
/.idea
/.lein-*
/.lsp/sqlite*.db
/.nrepl-history
/.nrepl-port
/.rebel_readline_history
/.socket-repl-port
.hgignore
.hg/
chart/
solr/
.settings/
.classpath
.project
.vscode/
.lsp
.shadow-cljs/
.clj-kondo/.cache/
.clj-kondo/babashka/
.clj-kondo/rewrite-clj/